<div class="ng-simple-dropdown dropdown">
	<button class="btn btn-primary" type="button" id="dropdownMenu" ng-click="dropdownStatus = !dropdownStatus">{{ dropdownText }}</button>
	<div class="ng-simple-dropdown-menu dropdown-menu list" ng-show="dropdownStatus">
		<ul class="ng-simple-list-group list-group items" ng-style="disabledStyle">
			<li class="ng-simple-list-group-item list-group-item" ng-repeat="option in options" ng-click="updateList(option)">
				<input type="checkbox" value="{{ option.value }}" ng-checked="option.checked" ng-disabled="disabled">
				<label class="list-label">{{ option.label }}</label>
			</li>
		</ul>
	</div>
</div>
