<div class="dropdown">
	<button class="btn btn-primary" type="button" id="dropdownMenu" ng-click="dropdownStatus = !dropdownStatus">{{ dropdownText }}</button>
	<div class="dropdown-menu" style="padding: 0px; display: block;" ng-show="dropdownStatus">
		<ul class="list-group" style="margin: 0px;" ng-style="disabledStyle">
			<li class="list-group-item" ng-repeat="option in options" ng-click="updateList(option)">
				<input type="checkbox" value="{{ option.value }}" ng-checked="option.checked" ng-disabled="disabled">
				<label style="padding-left: 5px;">{{ option.label }}</label>
			</li>
		</ul>
	</div>
</div>