/* The switch - the box around the slider */
.ng-simple-switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
}

/* Hide default HTML checkbox */
.ng-simple-switch input {display:none;}

/* The slider */
.ng-simple-slider-container {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.ng-simple-slider {
  position: absolute;
  content: "";
  height: 42px;
  width: 44px;
  left: -4px;
  bottom: -4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:focus + .ng-simple-slider-container {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .ng-simple-slider {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}