.ng-simple-indicator {
  position: relative;
  margin-top: 45px;
}
.ng-simple-indicator-status {
  position: absolute;
  left: 0px;
  top: -42px;
  -webkit-transition: 1s all;
  transition: 1s all;
  width: 100%;
}
.ng-simple-status-pills {
  display: inline-block;
  padding: 0px 10px;
  width: 180px;
  color: #fff;
}
.ng-simple-pointer {
  position: absolute;
  left: 0px;
  top: -42px;
  -webkit-transition: 1s all;
  transition: 1s all;
  background-color: #e6e6e6;
  height: 40px;
  width: 200px;
  border-radius: 8px 8px 0px 0px;
  opacity: 0.9;
}
.ng-simple-progress {
  height: 40px;
  margin-bottom: 0px;
  border-radius: 0px 0px 8px 8px;
}
.ng-simple-progress-bar {
  padding: 10px 0px;
}
.ng-simple-progress-text {
  display: block;
  position: absolute;
  margin-bottom: 0px !important;
  padding: 5px 0px;
  left: 47.5%;
  color: #fff;
}